*{
    margin:0px;
    padding:0px;
}
body{
    background-image:url(https://images.pexels.com/photos/2763927/pexels-photo-2763927.jpeg?auto=compress&cs=tinysrgb&w=600);
    
    background-size: cover;
}
#pay{
    border:1px solid;
    width: 70%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 60px;


}
#pay>div:first-child{
    background-color: white;
border-radius: 20px 0px 0px 20px;
background-color: rgb(40, 81, 81);
color:white;
}

#pay>div:last-child{
    /* width: 50%; */
    background-color:white;
    padding:30px 50px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
#debit>div{
display: flex;
align-items: center;
width: 100%;
}
#h2{
color:rgb(96, 18, 18);
text-align: center;
}
#debit>div>div:first-child{
    width: 90%;
    background-color: rgb(250, 249, 248);
}
#debit>div>div>img{
    width: 100%;
    height: 100%;
}
.email{
    display: flex;
    justify-content: space-between;
    background-color: rgba(198, 202, 206, 0.837);
    padding: 8px;
    font-size: 17px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 5px;
}
label{
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
form{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
    font-weight: bolder;
}
input{
    padding: 8px;
    font-style: italic;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
    outline:none;
    border-radius: 5px;
}
.float{
    /* border: 3px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}
.float>div{
    display: flex;
    flex-direction: column;
}
select{
    background-color: rgb(70, 129, 129);
    padding: 5px;
    color:white
}
#submit{
    background-color: rgba(0, 0, 255, 0.614);
    font-size: 18px;
    font-style: italic;
    font-weight:bold;
}

#paise{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.allM>div{
    margin-top: 20px;
    display: flex;
    /* border: 2px solid; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 25px;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 40px;
    padding: 7px 20px;
}
#pay{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border:none;
}
#pay>div{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   
}
#pay>div+div{
    border-radius: 0px 20px 20px 0px;
}
.logoo{
    width: 100px;
    background-color: rgb(96, 80, 197);
    padding: 0px 20px;
}

#voxshad{
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}